@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Home";
}

<form action="~/persons/index" method="get">
    <h1>@ViewBag.Title</h1>

    <div class="row g-2 text-center">
        <div class="col-6 col-md-4">
            <select class="form-select" name="field">
                @foreach (var item in ViewBag.SearchFields)
                {
                    if (ViewBag.CurrentField == item.Key)
                    {
                        <option value="@item.Key" selected>@item.Value</option>
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-6 col-md-8">
            <input class="form-control" name="value" value="@(ViewBag.CurrentValue)"/>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <td>
                @if (ViewBag.CurrentSortBy == nameof(PersonResponse.PersonName))
                {
                    var reverseSort = @ViewBag.CurrentSortOrder == SortOptions.Asc ? SortOptions.Desc : SortOptions.Asc;
                    
                    <a href="~/persons/index?field=@ViewBag.CurrentField&value=@ViewBag.CurrentValue&sortBy=@ViewBag.CurrentSortBy&sortOrder=@(reverseSort)">
                        Person Name
                        @if (reverseSort == SortOptions.Desc)
                        {
                            <i class="fa-solid fa-sort-up"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-sort-down"></i>
                        }
                    </a>
                }
                else
                {
                    <a href="~/persons/index?field=@ViewBag.CurrentField&value=@ViewBag.CurrentValue&sortBy=@ViewBag.CurrentSortBy&sortOrder=@(SortOptions.Asc)">Person Name</a>
                }
            </td>
            <td>Email</td>
            <td>Date of Birth</td>
            <td>Gender</td>
            <td>Age</td>
            <td>Country</td>
            <td>Address</td>
            <td>Receive NewsLetters</td>
        </tr>
        </thead>
        <tbody>
        @foreach (PersonResponse person in Model)
        {
            <tr>
                <td>@person.PersonName</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth?.ToString("yyyy-MM-dd")</td>
                <td>@person.Gender</td>
                <td>@person.Age</td>
                <td>@person.Country</td>
                <td>@person.Address</td>
                <td>@person.ReceiveNewsletter</td>
            </tr>
        }
        </tbody>
    </table>
</form>