@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
}

<form asp-controller="Persons" asp-action="Index" method="get">
    <h1>@ViewBag.Title</h1>
    
    <a asp-controller="Persons" asp-action="Create">Create Person</a>
    <a asp-controller="Persons" asp-action="PersonsPdf">Download Pdf</a>
    <div class="row g-2 text-center">
        <div class="col-6 col-md-4">
            <select class="form-select" name="field">
                @foreach (var item in ViewBag.SearchFields)
                {
                    if (ViewBag.CurrentField == item.Key)
                    {
                        <option value="@item.Key" selected>@item.Value</option>
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-6 col-md-8">
            <input class="form-control" name="value" value="@(ViewBag.CurrentValue)"/>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
                { "ColumnName", nameof(PersonResponse.PersonName) },
                { "DisplayName", "Person Name" }
            })
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
                { "ColumnName", nameof(PersonResponse.Email) },
                { "DisplayName", "Email" }
            })
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
                { "ColumnName", nameof(PersonResponse.DateOfBirth) },
                { "DisplayName", "Date of Birth" }
            })
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
                { "ColumnName", nameof(PersonResponse.Gender) },
                { "DisplayName", "Gender" }
            })
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
                { "ColumnName", nameof(PersonResponse.Age) },
                { "DisplayName", "Age" }
            })
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
                { "ColumnName", nameof(PersonResponse.Country) },
                { "DisplayName", "Country" }
            })
            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
            {
                { "ColumnName", nameof(PersonResponse.Address) },
                { "DisplayName", "Address" }
            })
        </tr>
        </thead>
        <tbody>
        @foreach (PersonResponse person in Model)
        {
            <tr>
                <td>@person.PersonName</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth?.ToString("yyyy-MM-dd")</td>
                <td>@person.Gender</td>
                <td>@person.Age</td>
                <td>@person.Country</td>
                <td>@person.Address</td>
                <td>
                    <a asp-controller="Persons" asp-action="Edit" asp-route-personId="@person.PersonId">Edit</a>
                    <a asp-controller="Persons" asp-action="Delete" asp-route-personId="@person.PersonId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>